@import "tailwindcss";

.fira-code {
  font-family: 'Fira Code', monospace;
}

.typing {
  overflow: hidden;
  border-right: .15em solid orange;
  white-space: nowrap;
  animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink {
  from, to { border-color: transparent }
  50% { border-color: orange }
}

@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}

.animate-blink {
    animation: blink 0.75s step-end infinite;
}

@keyframes bounce-low {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

.animate-bounce-low {
  animation: bounce-low 5s infinite;
}

body {
  margin: 0;
  padding: 0;
  background-color: red;
}